<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="test1.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="test1.Perspective"
            id="Test1.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Test1.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="label">
            <command
                  commandId="test1.SelectionDialog"
                  style="push">
            </command>
            <command
                  commandId="Test1.command2"
                  style="push">
            </command>
            <command
                  commandId="Test1.command3"
                  style="push">
            </command>
            <command
                  commandId="Test1.command4"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="Test1.exitCommand"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="test1.SelectionDialog"
            id="test1.SelectionDialog"
            name="SelectDialog">
      </command>
      <command
            defaultHandler="test1.OpenDialog"
            id="Test1.command2"
            name="OpenDialog">
      </command>
      <command
            defaultHandler="test1.OpenMyDialog"
            id="Test1.command3"
            name="OpenMyDialog">
      </command>
      <command
            defaultHandler="test1.ShowWizard"
            id="Test1.command4"
            name="Wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="test1.MyView"
            id="Test1.MyView"
            name="备注"
            restorable="true">
         <description>
            this is my view
         </description>
      </view>
      <category
            id="Test1.category1"
            name="name">
      </category>
      <view
            class="test1.MyView1"
            id="Test1.MyView1"
            name="name"
            restorable="true">
      </view>
   </extension>

</plugin>
